@import "Header.css";
@import "Footer.css";
@import "index.css";

.App {
  text-align: center;
  color: rgb(9, 10, 10);
  background-color: rgb(235, 238, 238);
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: rgb(198, 198, 201);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(59, 87, 180);
}

.App-link {
  color: #6666FF;
}

.App-footer {
  background-color: rgb(82, 82, 83);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 7, 8);
}

